@import url('https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Questrial|Yellowtail');
@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');

red{
	color:#F00;
}
div.th{
	font-family: 'Kanit', sans-serif;
}
div.en{
	font-family: 'Questrial', sans-serif;
}
div.parahut-menu{
	font-family: 'Yellowtail', cursive;
	color:#fff;
	text-align: center;
}
div.menu-logo div.parahut{
	font-family: 'Yellowtail', cursive;
	margin-top: 10px;
	margin-left:-30px;
}
body{
	width:100%;
	margin:0;
	padding:0 ;
	font-family: 'Kanit', sans-serif;
}
.icon-bar{
	 max-width: 100%;
	 height: auto;
}
.list-drop {
   text-align: right;
   color: white;
   padding-right:12px;
   padding-left:12px;
   padding-top:15px;
   padding-bottom:12px;
   margin-right: 25px;
   font-size: 25px;
   display: block;
   font-weight: 600;
}
.list-drop:hover {
       text-decoration: underline;
       cursor: pointer;
   }
.menudrop{
   background-color: #499c4d;
   display:block;
   position: relative;
   margin-top: -22px;
}
.icon-l{
   background-color: #499c4d;
   padding:10px;
   cursor: pointer;
   display:block;
   color:#FFF;
   float:left;
}
.dropdown{
	position: relative;
	display: inline-block;
	cursor: pointer;
	z-index: 1;
	width: 100%;
}
.dropdown-content{
   float: left;
   margin-top: 0px;
   display: block;
   position: fixed;
   z-index: 1;
   box-shadow: black 0px 30px 5px -30px inset;
   margin-left: -100%;
   transition: 0.5s;
   width: 100%;
   -webkit-border-bottom-right-radius: 30px;
   }
.show {
   margin-left: 0px;
   transition: 0.5s;
}
.dropbg{
   background-color: #499c4d;
   height: 100%;
   width: 40%;
   float: left;
   margin-top: 7px;
}
.admin{
font-size:30px;
color:#fff;
margin-left:0px;
}
#fix {
    position: fixed;
    width: 100%;
    z-index: 100;
}
.fa.fa-bars{
	font-size:35px;
}
li.list-drop a{
	color:#FFF;
	}
div.container.top {
    margin-top: 100px;
	margin-bottom:100px;
    width: 1000px;
}
.form-group {
    margin-bottom: 15px;
    clear: both;
}
.btn{
	padding:20px
}
